h1{
	text-Align: center;
	border: double;
	border-color: red;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 70px;
}


.gridbutton {
	display: inline-block;
	margin: auto;
	text-Align: center;
	font-size: 20px;
    width:130px;
    height:40px;
    background-color:#ccc;
	
    border:3px solid white;
}

.gridbutton:hover{
	background-color: yellow;
	border:3px solid red;
}

.center {
	text-Align: center;
}



.popup {
	font-size: 50px;
	display: none;
}

#backbutton{
	display: none;
	text-Align: center;
	width:130px;
    height:40px;
	margin-left:50px;
	background-color:#ccc;
    border:1px solid #ff0000;
	font-size: 20px;
}

#backbutton:hover{
	background-color: yellow;
	border:3px solid red;
}

.quiz{
	color: black;
	
}

.quiz:hover{
	color: yellow;
}

.quizAnswer{
	display: none;
	color: red;
}


p{
	text-align: center;
	font-size: 30px;
}

#spong {
	height: 300px;
	margin-left: 750px;
}
#yupp {
	height: 300px;
	margin-left: 750px;
}
#krabs {
	height: 300px;
	margin-left: 750px;
}
#this{
	margin-right: 750px;
}

.image{
	display: block;
	width: 500px;
	margin: auto;
}

