h1{
	text-Align: center;
	border: double;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
}

p{
	text-align: center;
	font-size: 30px;
}

#spong {
	height: 300px;
	margin-left: 750px;
}
#yupp {
	height: 300px;
	margin-left: 750px;
}
#krabs {
	height: 300px;
	margin-left: 750px;
}
#this{
	margin-right: 750px;
}